@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;

@reference "tailwindcss";

@layer components {
   .layout-Wrapper {
      @apply container flex flex-wrap max-w-7xl mx-auto p-6 lg:px-8;

      &--boxed {
         @apply container h-full max-w-7xl
                m-auto sm:my-8 lg:my-12
                rounded-none sm:rounded-2xl
                shadow-none sm:shadow-[2px_0_15px_rgba(35,35,34,0.25)]
                px-4 py-8 sm:px-6 lg:px-8;
         
         background-color: $cream;
         //box-shadow: 2px 0 15px rgba($eerieBlack, .25);
      }
   }

   .theCalculateGrid {
      @apply grid 
             grid-cols-1 
             md:grid-cols-2 
             gap-x-6 
             md:gap-x-20 
             gap-y-4;
   }
}

