// ========================================
// Main Theme Style
// ========================================

@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/typography' as *;
@use '../abstracts/mixins' as *;
@use "sass:color";
@use "sass:map";



.boxed {
  background-color: $cream;
  border-radius: $radius-2xl;
  box-shadow: 2px 0 15px rgba($eerieBlack, .25);
}

.pill {
  border-radius: 0.5em;
  padding: 0.5em 1em;
  border-style: solid;
  border-width: 1px;
}
$pill-colors: (
   'white': (
      'bg': white,
      'border': color.scale(white, $lightness: -20%),
   ),
   'beige': (
      'bg': $cream,
      'border': color.scale($cream, $lightness: -20%, $saturation: -30%),
   ),
   'green': (
      'bg': $darkOlive,
      'border': color.scale($darkOlive, $lightness: -20%),
   ),
   'coral': (
      'bg': $coral,
      'border': color.scale($coral, $lightness: -20%),
   ),
   'blush': (
      'bg': $blush,
      'border': color.scale($blush, $lightness: -20%),
   ),
);
@each $name, $colors in $pill-colors {
  .pill--#{$name} {
    @extend .pill;
    background-color: map.get($colors, 'bg');
    border-color: map.get($colors, 'border');
  }
}

h1 {
  @include typography('h1');

  &[class*="withIcon--"] {
    text-indent: -1.5em;
    margin-left: 1.5em;
  }
}
h2 {
  @include typography('h2');
}
h3 {
  @include typography('h3');
}
h4 {
  @include typography('h4');
  
  @apply normal-case sm:uppercase;
}
p {
  @include typography('body');
}

.card {
  background-color: #fff7ed;
  border-radius: 16px;
  border: 1px solid #d3d2cb;

  @apply px-4 md:px-8
         py-6
}

.P { background-color: color.change($navyBlue, $alpha: 0.6) }
.D { background-color: color.change($blush, $alpha: 0.6) }
.C { background-color: color.change($darkOlive, $alpha: 0.6) }
.A { background-color: color.change($brownSugar, $alpha: 0.6) }

.penaltyTaker {
  display: flex;
  align-items: center;

  &--role {
      border-radius: 100%;
      color: $cream;
      font-weight: 500;
      width: 2em;
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1em;

      &.P { background-color: color.change($navyBlue, $alpha: 0.6) }
      &.D { background-color: color.change($blush, $alpha: 0.6) }
      &.C { background-color: color.change($darkOlive, $alpha: 0.6); }
      &.A { background-color: color.change($brownSugar, $alpha: 0.6); }
  }
  &--name {}
  &--squadra {}
}

.adminBadge {
  width: min-content;
  font-size: clamp(0.75rem, 1vw + 0.25rem, 1rem);
  line-height: 1;
  font-weight: 600;
  color: $blush;
}

:root {
  --headerHeight: 150px;
}